<h1><%= t('articles.list_article') %></h1>

<%= link_to t('articles.link.new_link'), new_article_path %><br>
<% @articles.each do |article| %>
    <div>
        <h3><%= article.title %></h3>
        <p><%= article.text %></p>
        <p><%= article.created_at %> | <%= link_to t('articles.link.show'), article_path(article) %> | <%= link_to t('articles.link.edit'), edit_article_path(article) %> | <%= link_to t('articles.link.destroy'), article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    <hr>
<% end %>