<p>
  <strong><%= t('articles.show.title') %></strong>
  <%= @article.title %>
</p>

<p>
  <strong><%= t('articles.show.text') %></strong>
  <%= @article.text %>
</p>

<p><%= link_to t('articles.show.back'), articles_path %></p>

<hr>
<p><b><%= t('comments.list_comments') %></b></p>
<% @comments.each do |comment| %>
  <p>
  <b><%= comment.author %></b> | <em><%= comment.created_at %></em><br>
  <%= comment.body %>
  </p>
<% end %>

<hr>
<p><b><%= t('comments.add_title') %></b></p>
<% if user_signed_in? %>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= current_user.username %>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </p>
    <%= f.submit %>
  <% end %>
<% else %>
    <p>Sign In for write comments. <%= link_to 'Sign In', new_user_session_path %> 
    </p>
<% end %>